{% extends 'base.html' %}

{% block filters %}
    <h2>{{header}}</h2>
    
	<div class="input-group">
		<input type="text" id="tweetSearchQuery" class="form-control" placeholder="Search for tweets">
		<span class="input-group-btn">
			<button class="btn btn-default" id="tweetSearchBtn" type="button">Go!</button>
		</span>
    </div><!-- /input-group -->
{% endblock %}


<!-- data block -->

{% block data %}




<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Negative Sentiment</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
          
          
          <ul class="list-group">
        {% if not negative %}
        No tweets to display. Sad!
        {% else %}
        {% for t in negative %}
        <li class="list-group-item">
            <p>
                {{ t.text }}
                <br>
                <strong>@{{ t.user.screen_name }}</strong> | <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}">link</a>

            <span class="badge">15</span>
        </p>

        </li>
        {% endfor %}
        {% endif %}
    </ul>
          
        
          
          
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>

<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Neutral Sentiment</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
          
          
          <ul class="list-group">
        {% if not neutral %}
        No tweets to display. Sad!
        {% else %}
        {% for t in neutral %}
        <li class="list-group-item">
            <p>
                {{ t.text }}
                <br>
                <strong>@{{ t.user.screen_name }}</strong> | <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}">link</a>

            <span class="badge">15</span>
        </p>

        </li>
        {% endfor %}
        {% endif %}
    </ul>
          
        
          
          
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>


<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">Positive Sentiment</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
          
          
          <ul class="list-group">
        {% if not positive %}
        No tweets to display. Sad!
        {% else %}
        {% for t in positive %}
        <li class="list-group-item">
            <p>
                {{ t.text }}
                <br>
                <strong>@{{ t.user.screen_name }}</strong> | <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}">link</a>

            <span class="badge">15</span>
        </p>

        </li>
        {% endfor %}
        {% endif %}
    </ul>
          
        
          
          
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>






    


{% endblock %}

{% block footer %}
<script type="text/javascript">
    $(document).ready(function() {
        /* Go to search page when you hit Go */
        $('#tweetSearchBtn').click(function(e) {
            let searchString = $('#tweetSearchQuery').val();
            document.location.href = '/?q=' + searchString;
        });

        /* Also go to search when you press enter in search bar */
		$('#tweetSearchQuery').keypress(function(e) {
			let key = e.which;
            if (key == 13) {  // enter key
				$('#tweetSearchBtn').click();
			}
		});
    });
</script>
{% endblock %}
