{% extends 'base.html' %}

{% macro searchFilterInput(header, name, value, placeholder='') -%}
<div class="input-group">
    <div class="input-group-addon">{{ header }}</div>
    <input type="text" class="form-control" placeholder="{{ placeholder }}" name="{{ name }}" value="{{ value|e }}">
</div>
{%- endmacro %}

<!-- search filters -->
{% block filters %}
    <h3>Tweet Filters</h3>
    <form id='searchFiltersForm' action='/' method='post'>
        <!-- keywords -->
        {{ searchFilterInput('Keywords', 'keywords', keywords, "'data science' is cool") }}
        <!-- exclude keywords -->
        {{ searchFilterInput('Exclude', 'exclude', exclude, 'deep learning') }}
        <!-- from user -->
        {{ searchFilterInput('From user', 'from_user', from_user) }}
        <!-- to user -->
        {{ searchFilterInput('To user', 'to_user', from_user) }}
        <!-- submit -->
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}

<!-- data block -->
{% block data %}
<div id="cloud" class="center-block"></div>

{% if tweet_buckets %}
    {{ tweetPresenter(tweet_buckets.pos, 'Positive Sentiment', 'collapse_pos') }}
    {{ tweetPresenter(tweet_buckets.neg, 'Negative Sentiment', 'collapse_neg') }}
    {{ tweetPresenter(tweet_buckets.neu, 'Neutral Sentiment', 'collapse_neu') }}
{% else %}
    Nothing to display yet!
{% endif %}
{% endblock %}


{% block script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='d3.layout.cloud.js') }}"></script>
<script type="text/javascript">
    // Encapsulate the word cloud functionality
    function wordCloud(selector) {
        var fill = d3.scale.category20();
        //Construct the word cloud's SVG element
        var svg = d3.select(selector).append("svg")
            .attr("width", 500)
            .attr("height", 500)
            .append("g")
            .attr("transform", "translate(250,250)");
        //Draw the word cloud
        function draw(words) {
            var cloud = svg.selectAll("g text")
                .data(words, function (d) { return d.text; })
            //Entering words
            cloud.enter()
                .append("text")
                .style("font-family", "Impact")
                .style("fill", function (d, i) { return fill(i); })
                .attr("text-anchor", "middle")
                .attr('font-size', 1)
                .text(function (d) { return d.text; });
            //Entering and existing words
            cloud
                .transition()
                .duration(600)
                .style("font-size", function (d) { return d.size + "px"; })
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .style("fill-opacity", 1);
            //Exiting words
            cloud.exit()
                .transition()
                .duration(200)
                .style('fill-opacity', 1e-6)
                .attr('font-size', 1)
                .remove();
        }
        //Use the module pattern to encapsulate the visualisation code. We'll
        // expose only the parts that need to be public.
        return {
            //Recompute the word cloud for a new set of words. This method will
            // asycnhronously call draw when the layout has been computed.
            //The outside world will need to call this function, so make it part
            // of the wordCloud return value.
            update: function (words) {
                d3.layout.cloud().size([500, 500])
                    .words(words)
                    .padding(5)
                    .rotate(function () { return 0; })
                    .font("Impact")
                    .fontSize(function (d) { return d.size; })
                    .on("end", draw)
                    .start();
            }
        }
    }
    //Some sample data - http://en.wikiquote.org/wiki/Opening_lines
    var words = {{ words|tojson }};
    //Prepare one of the sample sentences by removing punctuation,
    // creating an array of words and computing a random size attribute.
    function getWords(i) {
        return words[i]
            .replace(/[!\.,:;\?]/g, '')
            .split(' ')
            .map(function (d) {
                return { text: d, size: 10 + Math.random() * 60 };
            })
    }
    //This method tells the word cloud to redraw with a new set of words.
    //In reality the new words would probably come from a server request,
    // user input or some other source.
    function showNewWords(vis, i) {
        i = i || 0;
        vis.update(getWords(i++ % words.length))
        setTimeout(function () { showNewWords(vis, i + 1) }, 20000)
    }
    //Create a new instance of the word cloud visualisation.
    var myWordCloud = wordCloud('#cloud');
    //Start cycling through the demo data
    $(document).ready(showNewWords(myWordCloud));
</script>


{% endblock %}


{% macro tweetPresenter(tweets_in, header, id) -%}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href={{ '#' + id }}>{{ header }}<span class="badge pull-right">
 {{ tweets_in|length }}</span>
</a>
            </h4>
        </div>
        <div id={{ id }} class="panel-collapse collapse">

            <ul class="list-group">
                {% if not tweets_in %}
                    No tweets to display. Sad!
                {% else %}
                    {% for t in tweets_in %}
                    <li class="list-group-item">
                        <p>
                            {{ t.text }}
                            <br>
                            <strong>@{{ t.user.screen_name }}</strong> | <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}">link</a>
                            <b>Score: {{ t.sentiment }}</b>
                            <br>{% if t.place %} {{t.place.full_name}} {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{%- endmacro %}
