{% extends 'base.html' %}

<!-- page header -->
{% block header %}
<h1>{{header}}</h1> {% endblock %}

<!-- search block -->
{% block search %} I hope this works {% endblock %}

<!-- data block -->
{% block data %}
<ul>
    {% if not tweets %}
    No tweets to display. Sad!
    {% endif %}
    {% for t in tweets %}
    <li>
        <p>
            {{ t.text }}
            <br>
            <strong>@{{ t.user.screen_name }}</strong> | <a href="https://www.twitter.com/{{t.user.screen_name}}/status/{{t.id}}">link</a>
            <br> {% if t.entities.urls%}
            <br>
            <i>tweet links</i>
            <ol>
                {% for url in t.entities.urls %}
                <li><a href="{{url.expanded_url}}">{{url.expanded_url}}</a></li>
                {% endfor %}
            </ol>
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}
